
@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.perspective-1200 {
  perspective: 1200px;
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.rotate-y-10 {
  transform: rotateY(10deg);
}

.rotate-y-30 {
  transform: rotateY(30deg);
}
